<div class="container">
    <div>
    <h2>Modifier un coffee :</h2>
    </div>
    <form >
    <div  class="col-sm-2 col-md-2 col-lg-2">
    <label >ID coffee</label>
    <input readonly type="text" [(ngModel)]="currrentcoffee.idcoffee"
    name="idcoffee" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom coffee</label>
    <input type="text"[(ngModel)]= "currrentcoffee.nomcoffee"
    name="nomcoffee" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Prix coffee</label>
    <input type="number" [(ngModel)]= "currrentcoffee.prixcoffee"
    name="prixcoffee" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
        <input type="date" [ngModel]="currrentcoffee.dateCreation | date: 'yyyy-MM-dd'"
(ngModelChange)=" currrentcoffee.dateCreation= $event" name="dateCreation"
class="form-control">
</div>
<div class="mt-2">

<button type="submit" (click)="updatecoffee()" class="btn btn-success">Modifer</button>

</div>
</form>

</div>